.wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px ;
}
.wrap input{
    /* margin-top: 20px; */
}
.AddBtn{
    border-radius: 8px;
    background-color: #5F39EB;
    color: white;
    padding:  10px 20px;
    border: none;
    margin-top: 30px;
}