.imgWr{
    /* width: 160px; */
    /* overflow: hidden; */
    margin: auto;
    /* gap: 50px; */
    /* margin: auto; */
    width: 200px;
}
.wr{
    align-items: center;
    justify-content: center;
    /* display: flex; */

}

.hello{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
}
.homeWr{
    display: flex;
    justify-content: space-between;

}
.boxName{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
}
.yearly{
display: flex;
gap: 270px;
justify-content: space-between;
}
.secondaryTxt{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #ACACAC;
}
.pie{
    margin-top: 50px;
    width: 230px;
}
.pie img{
    width: 100%;
}
.static img{
    width: 100%;
}
.static{
    width: 600px;
}